.section-center {
    height: 100vh;
    background: #B5C0C7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-center img {
    margin-bottom: 100px;
}

.section-center h2 {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    width: 250px;
    text-align: center;
}