header {
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top span {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

header hr {
    border: 1.8px solid #232323;
    margin-top: 23px;
}

